<mat-card-header>
  <div mat-card-avatar class="product-image" *ngIf="config.imageRequired">
    <img [src]="item.image" alt="{{ item.title }}" />
  </div>
  <mat-card-title>{{ item.title }}</mat-card-title>
  <mat-card-subtitle *ngIf="config.subtitleRequired">{{ item.subtitle }}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <p *ngIf="config.contentRequired">{{ item.content }}</p>
  <p *ngIf="config.contentStrongItem1Required"><strong>{{ item.contentStrongItem1Label }}</strong> {{ item.contentStrongItem1Value }}</p>
  <p *ngIf="config.contentStrongItem2Required"><strong>{{ item.contentStrongItem2Label }}</strong> {{ item.contentStrongItem2Value }}</p>
</mat-card-content>
<mat-card-actions align="end" *ngIf="config.actionbtnrequired">
  <div *ngFor="let btn of item.buttons">
    <button mat-raised-button [color]="btn.btnColor">
      {{ btn.btnlabel }}
    </button>
  </div>
</mat-card-actions>