/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Define Default (Light) Theme */
:root {
    --primary-bg-color: white;
    --primary-text-color: rgb(228, 38, 38);
    --toolbar-bg-color: #16cee6;
    --toolbar-text-color: rgb(0, 0, 0);
    --toolbar-hover-color: #2a4750;
  }
  
  /* Dark Theme */
  .dark-theme {
    --primary-bg-color: #121212;
    --primary-text-color: white;
    --toolbar-bg-color: #bb86fc;
    --toolbar-text-color: black;
    --toolbar-hover-color: #6200ea;
  }