<h2 class="form-title">{{labels.productListingHeader}}</h2>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 centered-table" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let product">{{ product.description }}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let product">{{ product.category }}</td>
    </ng-container>

    <!-- Cost Price Column -->
    <ng-container matColumnDef="costPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost Price</th>
      <td mat-cell *matCellDef="let product">{{ product.costPrice }}</td>
    </ng-container>

    <!-- Selling Price Column -->
    <ng-container matColumnDef="sellingPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Selling Price</th>
      <td mat-cell *matCellDef="let product">{{ product.sellingPrice }}</td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let product">
        <img [src]="product.image" alt="{{ product.name }}" width="50" />
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let product">
        <button mat-icon-button color="primary" (click)="editProduct(product)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteProduct(product)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Table Header and Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Add Product Button -->
<div class="add-product-button">
  <button mat-icon-button color="accent" [routerLink]="'/admin-panel/products/add'" aria-label="Add Product" matTooltip="Add Product"
  matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </button>
</div>